html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: #161d21;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #313a3c;
  padding: 5px 0;
}

header > * {
  flex: none;
}

h1 {
  font-size: 32px;
  margin: 0;
  padding: 0;
  letter-spacing: 0.2em;
}

.game {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#boardElement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 40px 10px;
  font-size: 20px;
  font-weight: 700;
}

#letterGridElement {
  display: flex;
  flex-direction: column;
}

.letter-row {
  display: flex;
  
}

.letter-cell {
  padding: 2px;
  box-sizing: border-box;
}

.letter-cell .content {
  position: relative;
  width: 100%;
  height: 100%;
}

.letter-frame, .committed-letter {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 1s;
}

.letter-frame {
  box-sizing: border-box;
  border: 2px solid #313a3c;
}

[status] .letter-frame {
  transform: rotateX(180deg);
}

.letter-cell:not([status]) .committed-letter {
  transform: rotateX(-180deg);
}

[status=match] .committed-letter {
  background-color: #2E7D32;
}

[status=partial] .committed-letter {
  background-color: #e5d456;
}

[status=miss] .committed-letter {
  background-color: #313a3c;
}

#keyboardElement {
  flex: none;
  margin: 10px;
  margin-top: 0;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  height: 60px;
}

.keyboard-key {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px 3px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #879294;
  min-width: 0;
}

.keyboard-key[status=match] {
  background-color: #2E7D32;
}

.keyboard-key[status=partial] {
  background-color: #e5d456;
}

.keyboard-key[status=miss] {
  background-color: #313a3c;
}

.keyboard-key:not(.wide) {
  width: 8%;
}

.keyboard-key.wide {
  flex: 1;
}

#toastElement:not(.visible) {
  visibility: hidden;
}

#toastElement {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  transition: opacity 200ms;
  color: black;
}

#toastElement.opacity0 {
  opacity: 0;
}

#toastElement > * {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
}

#popupOverlayElement {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

#popupOverlayElement:not([which]) {
  visibility: hidden;
}

#popupOverlayElement:not([which=stats]) .stats-popup {
  display: none;
}

.popup-overlay-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#popupCloseButtonElement {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 30px;
  color: #879294;
  cursor: pointer;
  background: transparent;
  border: none;
}

.popup {
  position: relative;
  margin: 10px;
  background-color: #161d21;
  border: 1px solid #313a3c;
  border-radius: 10px;
  overflow-y: auto;
  padding: 30px;
}

.stats-popup-message {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.stats-popup-message:empty {
  display: none;
}

.countdown {
  text-align: center;
}

#countdownElement {
  font-size: 36px;
}