:root {
  --void-color: #161d21;
}

@media (prefers-color-scheme: dark) {
  body[theme=system] {
    --background-color: var(--void-color);
  }
}

@media (prefers-color-scheme: dark) {
  body[theme=system] {
    --background-color: var(--void-color);
  }
}

body[theme=dark] {
  --blue: #2980B9;
  --green: #2E7D32;
  --green-dark: #266829;
  --green-darkest: #1b491d;
  --grey-dark: #404C4F;
  --grey-light: #879294;
  --orange: #E17619;
  --orange-light: #FFC107;
  --red: #FF5252;
  --yellow-green: #cddc39;

  --background-color: var(--void-color);
  --divider-color: var(--grey-light);
  --icon-button-color: var(--grey-light);
  --keyboard-key-background-color: var(--grey-light);
  --keyboard-key-text-color: white;
  
  --note-color-1: var(--red);
  --note-color-2: var(--orange);
  --note-color-3: var(--orange-light);
  --note-color-4: var(--yellow-green);
  --note-color-5: var(--green);
  --note-color-6: white;
  --popup-border-color: var(--grey-dark);
  --positive-button-background-color: var(--green);
  --positive-button-background-color-active: var(--green-darkest);
  --positive-button-background-color-hover: var(--green-dark);
  --status-color-match: var(--blue);
  --status-color-miss: var(--grey-dark);
  --status-color-miss-key: var(--grey-dark);
  --status-color-partial: var(--orange);
  --status-tile-text-color: white;
  --text-color: white;
  --text-color-title: white;
  --tile-border-color: var(--grey-dark);
}

body[theme=light] {
  --blue: #439BD6;
  --green: #5faa63;
  --green-dark: #37963c;
  --green-darkest: #2E7D32;
  --grey-dark: #657072;
  --grey-light: #A1AAAA;
  --orange: #f78a2c;
  --orange-light: #FFC107;
  --red: #FF5252;
  --yellow-green: #cddc39;

  --background-color: white;
  --divider-color: var(--grey-light);
  --icon-button-color: var(--grey-light);
  --keyboard-key-background-color: var(--grey-light);
  --keyboard-key-text-color: white;
  --note-color-1: var(--red);
  --note-color-2: var(--orange);
  --note-color-3: var(--orange-light);
  --note-color-4: var(--yellow-green);
  --note-color-5: var(--green);
  --note-color-6: var(--void-color);
  --popup-border-color: var(--grey-dark);
  --positive-button-background-color: var(--green);
  --positive-button-background-color-active: var(--green-darkest);
  --positive-button-background-color-hover: var(--green-dark);
  --status-color-match: var(--blue);
  --status-color-miss: var(--grey-light);
  --status-color-miss-key: var(--grey-dark);
  --status-color-partial: var(--orange);
  --status-tile-text-color: white;
  --text-color: var(--void-color);
  --text-color-title: var(--grey-dark);
  --tile-border-color: var(--grey-light);
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-color);
  transition: background-color 0.5s;
}

body, button {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: var(--text-color);
}

p {
  margin: 1em 0;
}

p.no-margin-top {
  margin-top: 0;
}

p.no-margin-bottom {
  margin-bottom: 0;
}

p.small-print {
  font-size: 0.7em;
}

hr {
  margin: 1em 0;
  display: block;
  border: none;
  height: 0;
  border-top: 1px solid var(--divider-color);
}

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px 0;
}

header > * {
  flex: none;
}

.help-button {
  position: absolute;
  left: 0;
}

.theme-button {
  position: absolute;
  right: 0;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color-title);
}

.subtitle {
  font-size: 10px;
}

h1 {
  font-size: 32px;
  margin: 0;
  padding: 0;
  letter-spacing: 0.2em;
  line-height: 1em;
  font-weight: 700;
}

h2 {
  font-size: inherit;
  font-weight: bold;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: underline;
  font-weight: 700;
}

.subtitle a:not(:hover) {
  text-decoration: none;
}

.game {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.board-section {
  flex: 1 1 0;
  min-height: 0;
  overflow: auto;
  padding: 15px;
}

.board-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#boardContainerElement {
  height: 100%;
}

.board, #keyboardElement {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  font-size: 16px;
}

.board {
  display: grid;
  font-weight: 700;
}

.board .cell {
  transition: transform 300ms;
  transition-timing-function: cubic-bezier(.67, 1.76, .16, .55);
  transform-style: preserve-3d;
}

.board .cell .front-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.board .tile {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board .status.tile {
  transform-origin: top center;
  transform: rotateX(90deg) translateY(-100%);
  color: var(--status-tile-text-color);
}

.board .input.tile .border {
  position: absolute;
  border-color: var(--tile-border-color);
}

.board .input.tile .lower.border {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-style: solid;
  border-top-style: none;
  transition: top 100ms;
}

.board .empty.cell .input.tile .lower.border {
  top: 80%;
  border-top-width: 0;
}

.board .input.tile .top.border {
  left: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  border-top-style: solid;
  transition: left 100ms, width 100ms;
}

.board .empty.cell .input.tile .top.border {
  left: 50%;
  width: 0;
}

.board .cell[status] .input.tile {
  opacity: 0;
}

.board .cell:not([status]) .status.tile {
  opacity: 0;
}

.board .cell[status=match] .status.tile {
  background-color: var(--status-color-match);
}

.board .cell[status=partial] .status.tile {
  background-color: var(--status-color-partial);
}

.board .cell[status=miss] .status.tile {
  background-color: var(--status-color-miss);
}

.board .current.cell .input.tile::before {
  content: '';
  display: block;
  width: 3%;
  height: 50%;
  background-color: var(--text-color);
  font-weight: 400;
  animation-name: caretBlink;
  animation-duration: 600ms;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes caretBlink {
  from { opacity: 0; }  
  to { opacity: 1; }
}

#keyboardElement {
  display: flex;
  flex-direction: column;
  flex: none;
  margin: 1.5%;
  margin-top: 0;
  outline: none;
  font-size: 16px;
  height: 14em;
  max-height: 33%;
}

.keyboard-row {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
}

.keyboard-key {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--keyboard-key-background-color);
  color: var(--keyboard-key-text-color);
  width: 100%;
  height: 100%;
  transition: background-color 200ms;
}

.keyboard-key-cell {
  box-sizing: border-box;
  padding: 0.8%;
}

.keyboard-key-cell:not(.wide) {
  flex: none;
  width: 10%;
}

.keyboard-key.backspace {
  font-size: 20px;
  background-color: var(--status-color-miss-key);
}

.keyboard-key[status=match] {
  background-color: var(--status-color-match);
}

.keyboard-key[status=partial] {
  background-color: var(--status-color-partial);
}

.keyboard-key[status=miss] {
  background-color: var(--status-color-miss-key);
}

.keyboard-key-cell.wide {
  flex: 1;
}

.keyboard-key.ok, .about-popup .inline-ok {
  background-color: var(--status-color-match);
  color: var(--keyboard-key-text-color);
}

#toastElement:not(.visible) {
  visibility: hidden;
}

#toastElement {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  transition: opacity 200ms;
  color: black;
  text-align: center;
}

#toastElement.opacity0 {
  opacity: 0;
}

#toastElement > * {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid var(--void-color);
}

#popupOverlayElement {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

#popupOverlayElement:not([which]) {
  visibility: hidden;
}

#popupOverlayElement:not([which=stats]) .stats-popup {
  display: none;
}

#popupOverlayElement:not([which=about]) .about-popup {
  display: none;
}

.popup-container {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  overflow: hidden;
}

#popupCloseButtonElement {
  position: absolute;
  top: 5px;
  right: 5px;
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 30px;
  color: var(--icon-button-color);
  cursor: pointer;
  background: transparent;
  border: none;
}

.popup {
  position: relative;
  box-sizing: border-box;
  background-color: var(--background-color);
  border: 1px solid var(--popup-border-color);
  border-radius: 10px;
  overflow-y: auto;
  padding: 30px;
  padding-top: 40px;
  max-height: 100%;
  transition: background-color 0.5s;
}

.stats-popup-message {
  text-align: center;
}

#statsPopupVerdictElement {
  font-weight: bold;
}

.stats-popup h2 {
  margin: 2em 0;
  margin-bottom: 1.5em;
}

.stats-popup .note-section:not([note]) {
  display: none;
}

.stats-popup [note='6'] .note,
#noteAverageElement[note='6'] {
  color: var(--note-color-6);
}

.stats-popup [note='6'] .note-circle path {
  fill: var(--note-color-6);
}

.stats-popup [note='5'] .note,
#noteAverageElement[note='5'] {
  color: var(--note-color-5);
}

.stats-popup [note='5'] .note-circle path {
  fill: var(--note-color-5);
}

.stats-popup [note='4'] .note,
#noteAverageElement[note='4'] {
  color: var(--note-color-4)
}

.stats-popup [note='4'] .note-circle path {
  fill: var(--note-color-4);
}

.stats-popup [note='3'] .note,
#noteAverageElement[note='3'] {
  color: var(--note-color-3);
}

.stats-popup [note='3'] .note-circle path {
  fill: var(--note-color-3);
}

.stats-popup [note='2'] .note,
#noteAverageElement[note='2'] {
  color: var(--note-color-2);
}

.stats-popup [note='2'] .note-circle path {
  fill: var(--note-color-2);
}

.stats-popup [note='1'] .note,
#noteAverageElement[note='1'] {
  color: var(--note-color-1);
}

.stats-popup [note='1'] .note-circle path {
  fill: var(--note-color-1);
}

.stats-popup .note {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1em;
  font-size: 43px;
  font-family: 'Patrick Hand', cursive;
}

.stats-popup .note-glyph {
  position: relative;
  width: 94px;
  height: 90px;
}

.stats-popup .note-circle {
  width: 100%;
  height: 100%;
}

.stats-popup .note-value {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 90px;
  line-height: 1em;
  transform: translateY(-3px);
}

.stats-popup [note='1'] .note-value {
  transform: translate(-5px, -4px);
}

.stats-popup [note='2'] .note-value {
  transform: translateY(-5px);
}

.stats-popup .note-value.plus::after {
  content: '+';
  font-size: 60px;
  margin-left: -7px;
  margin-bottom: 13px;
  width: 20px;
}

.stats-popup .stats {
  display: flex;
  flex-wrap: wrap;
  margin: 18px -8px;
}

.stats-popup .stats .entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  margin: 8px;
}

.stats-popup .stats .value {
  font-size: 2em;
}

.countdown-share {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 -15px;
}

.countdown-share > * {
  margin: 15px;
}

.countdown {
  text-align: center;
}

.share-button {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--positive-button-background-color);
}

.share-button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.share-button:hover {
  background-color: var(--positive-button-background-color-hover);
}

.share-button:active {
  background-color: var(--positive-button-background-color-active);
}

.share-button .material-icons {
  font-size: 1.2em;
}

#countdownElement {
  font-size: 36px;
}

.about-popup .inline-ok {
  padding: 2px 4px;
  border-radius: 2px;
}

.about-popup .example {
  height: 3.5em;
  justify-content: center;
}

.about-popup hr {
  margin-top: 2em;
}