html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: #161d21;
}

body, button {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: white;
}

p {
  margin: 1em 0;
}

p.no-margin-top {
  margin-top: 0;
}

p.no-margin-bottom {
  margin-bottom: 0;
}

p.small-print {
  font-size: 0.7em;
}

hr {
  margin: 1em 0;
  display: block;
  border: none;
  height: 0;
  border-top: 1px solid #879294;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px 0;
}

header > * {
  flex: none;
}

.help-button {
  position: absolute;
  left: 0;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  font-size: 10px;
}

h1 {
  font-size: 32px;
  margin: 0;
  padding: 0;
  letter-spacing: 0.2em;
  line-height: 1em;
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: underline;
  font-weight: 700;
}

.subtitle a:not(:hover) {
  text-decoration: none;
}

.game {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.board-section {
  flex: 1 1 0;
  min-height: 0;
  overflow: auto;
  padding: 15px;
}

.board-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#boardContainerElement {
  height: 100%;
}

.board, #keyboardElement {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  font-size: 16px;
}

.board {
  display: grid;
  font-weight: 700;
}

.board .cell {
  transition: transform 300ms;
  transition-timing-function: cubic-bezier(.67, 1.76, .16, .55);
  transform-style: preserve-3d;
}

.board .cell .front-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.board .tile {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board .status.tile {
  transform-origin: top center;
  transform: rotateX(90deg) translateY(-100%);
}

.board .input.tile .border {
  position: absolute;
  border-color: #404C4F;
}

.board .input.tile .lower.border {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-style: solid;
  border-top-style: none;
  transition: top 100ms;
}

.board .empty.cell .input.tile .lower.border {
  top: 80%;
  border-top-width: 0;
}

.board .input.tile .top.border {
  left: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  border-top-style: solid;
  transition: left 100ms, width 100ms;
}

.board .empty.cell .input.tile .top.border {
  left: 50%;
  width: 0;
}

.board .cell[status] .input.tile {
  opacity: 0;
}

.board .cell:not([status]) .status.tile {
  opacity: 0;
}

.board .cell[status=match] .status.tile {
  background-color: #2980B9;
}

.board .cell[status=partial] .status.tile {
  background-color: #E17619;
}

.board .cell[status=miss] .status.tile {
  background-color: #404C4F;
}

.board .current.cell .input.tile::before {
  content: '';
  display: block;
  width: 3%;
  height: 50%;
  background-color: white;;
  font-weight: 400;
  animation-name: caretBlink;
  animation-duration: 600ms;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes caretBlink {
  from { opacity: 0; }  
  to { opacity: 1; }
}

#keyboardElement {
  flex: none;
  margin: 5px;
  margin-top: 0;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  font-size: 16px;
  height: 3.7em;
}

.keyboard-key {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  background-color: #879294;
  width: 100%;
  height: 100%;
  transition: background-color 200ms;
}

.keyboard-key-cell {
  box-sizing: border-box;
  padding: 4px 3px;
}

.keyboard-key-cell:not(.wide) {
  flex: none;
  width: 10%;
}

.keyboard-key.backspace {
  font-size: 20px;
  background-color: #404C4F;
}

.keyboard-key[status=match] {
  background-color: #2980B9;
}

.keyboard-key[status=partial] {
  background-color: #E17619;
}

.keyboard-key[status=miss] {
  background-color: #404C4F;
}

.keyboard-key-cell.wide {
  flex: 1;
}

.keyboard-key.ok, .about-popup .inline-ok {
  background-color: #2980B9;
}

#toastElement:not(.visible) {
  visibility: hidden;
}

#toastElement {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  transition: opacity 200ms;
  color: black;
}

#toastElement.opacity0 {
  opacity: 0;
}

#toastElement > * {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
}

#popupOverlayElement {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

#popupOverlayElement:not([which]) {
  visibility: hidden;
}

#popupOverlayElement:not([which=stats]) .stats-popup {
  display: none;
}

#popupOverlayElement:not([which=about]) .about-popup {
  display: none;
}

.popup-container {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  overflow: hidden;
}

#popupCloseButtonElement {
  position: absolute;
  top: 5px;
  right: 5px;
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 30px;
  color: #879294;
  cursor: pointer;
  background: transparent;
  border: none;
}

.popup {
  position: relative;
  box-sizing: border-box;
  background-color: #161d21;
  border: 1px solid #404C4F;
  border-radius: 10px;
  overflow-y: auto;
  padding: 30px;
  padding-top: 40px;
  max-height: 100%;
}

.stats-popup-message {
  text-align: center;
}

#statsPopupVerdictElement {
  font-weight: bold;
}

.stats-popup h2 {
  font-size: inherit;
  font-weight: bold;
  margin: 2em 0;
  margin-bottom: 1.5em;
  text-align: center;
}

.stats-popup .note-section:not([note]) {
  display: none;
}

.stats-popup [note='6'] .note,
#noteAverageElement[note='6'] {
  color: #FFFFFF;
}

.stats-popup [note='6'] .note-circle path {
  fill: #FFFFFF;
}

.stats-popup [note='5'] .note,
#noteAverageElement[note='5'] {
  color: #2E7D32;
}

.stats-popup [note='5'] .note-circle path {
  fill: #2E7D32;
}

.stats-popup [note='4'] .note,
#noteAverageElement[note='4'] {
  color: rgb(205, 220, 57);
}

.stats-popup [note='4'] .note-circle path {
  fill: rgb(205, 220, 57);
}

.stats-popup [note='3'] .note,
#noteAverageElement[note='3'] {
  color: #FFC107;
}

.stats-popup [note='3'] .note-circle path {
  fill: #FFC107;
}

.stats-popup [note='2'] .note,
#noteAverageElement[note='2'] {
  color: #E17619;
}

.stats-popup [note='2'] .note-circle path {
  fill: #E17619;
}

.stats-popup [note='1'] .note,
#noteAverageElement[note='1'] {
  color: #FF5252;
}

.stats-popup [note='1'] .note-circle path {
  fill: #FF5252;
}

.stats-popup .note {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1em;
  font-size: 43px;
  font-family: 'Patrick Hand', cursive;
}

.stats-popup .note-glyph {
  position: relative;
  width: 94px;
  height: 90px;
}

.stats-popup .note-circle {
  width: 100%;
  height: 100%;
}

.stats-popup .note-value {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 90px;
  line-height: 1em;
  transform: translateY(-3px);
}

.stats-popup [note='1'] .note-value {
  transform: translate(-5px, -4px);
}

.stats-popup [note='2'] .note-value {
  transform: translateY(-5px);
}

.stats-popup .note-value.plus::after {
  content: '+';
  font-size: 60px;
  margin-left: -7px;
  margin-bottom: 13px;
  width: 20px;
}

.stats-popup .stats {
  display: flex;
  flex-wrap: wrap;
  margin: 18px -8px;
}

.stats-popup .stats .entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  margin: 8px;
}

.stats-popup .stats .value {
  font-size: 2em;
}

.countdown-share {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 -15px;
}

.countdown-share > * {
  margin: 15px;
}

.countdown {
  text-align: center;
}

.share-button {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #2E7D32;
}

.share-button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.share-button:hover {
  background-color: #266829;
}

.share-button:active {
  background-color: #1b491d;
}

.share-button .material-icons {
  font-size: 1.2em;
}

#countdownElement {
  font-size: 36px;
}

.about-popup .inline-ok {
  padding: 2px 4px;
  border-radius: 2px;
}

.about-popup .example {
  height: 3.5em;
  justify-content: center;
}

.about-popup hr {
  margin-top: 2em;
}